{
  "TOKEN": "ODQ4Mjk4MDgyMDgxMDQ2NTQ5.YLKlJw.Ll6onn2p4mhmBtQjpXG3iDhjN-k",
  "YOUTUBE_API_KEY": "AIzaSyAsotwHYNlVkVYE1u8k2aEnnO36DR2NyjQ",
  "SOUNDCLOUD_CLIENT_ID": "kQsKI9ALF00a0Ja4i5ZJHByX5d2Ha27J",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "sm!",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}